body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(10, 6, 44);
}

body.container {
  display: 'flex';
}

body .container section#section-main-title {
  margin: 50px 50px;
  padding: 10px 10px 0px 10px;
}

body .container section#section-main-title h1 {
  color: white;
}

body .container section#section-financial {
  padding: 25px 0px 0px 10px;
  border: 2px solid;
  border-radius: 10px;

  background: rgba(204, 199, 199, 0.712);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
